# Data and Models
data/raw/
data/processed/
data/db
data/temp
models/
*.bin
*.pt
data
# Docker/System
.env
__pycache__/
.pytest_cache/
.DS_Store

# Credentials
firebase_service_account.json

# Database
postgres_data/
chroma_db/

# Work files
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pdf
!*_template.pdf  # If you ever have a template pdf to commit, keep it
*.log

# Python Environments
venv/
.venv/
env/
.env/
nyayai/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db